:root,
[data-theme="light"] {
  --mie-cvg-border: #{rgba(#000, 0.07)};
}

[data-theme="dark"] {
  --mie-cvg-border: #{rgba(#000, 0.37)};
}

.mie.view.example-group {
  margin-bottom: 5rem;

  .preview.view {
    background-color: rgba(#000, 0.05);
    padding: 1.2rem 2rem;
    min-height: 16rem;
    position: relative;

    > .show-code {
      position: absolute;
      right: 0rem;
      top: 0rem;

      border-radius: 0 0 0 1.2rem;
    }
  }

  .code.view {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;

    pre {
      border-top: 0.1rem solid var(--mie-cvg-border);
    }
  }
}
