.mie.sidebar.blured {
  backdrop-filter: blur(5px);
}

:root,
[data-theme="light"] {
  .mie.sidebar.blured {
    --mie-sidebar-bg-main: #{rgba(#ebebeb, 0.8)} !important;
  }
}

[data-theme="dark"] {
  .mie.sidebar.blured {
    --mie-sidebar-bg-main: #{rgba(#303030, 0.8)} !important;
  }
}
