@font-face {
  font-family: "Cantarell";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./Cantarell.woff2") format("woff2"),
    url("./Cantarell.otf") format("opentype");
}