@use "sass:math";

.page.home .mie.view.gallery {
  width: 102.4rem;

  > .gallery-sample {
    padding: indent(tiny);
  }

  [data-group] {
    padding: 3.2rem 1.2rem;

    [data-title] {
      padding: 0;
    }
  }
  
  [data-title] {
    padding: 3.2rem 1.2rem;
  }

  [data-title="Typography"] {
    width: 30%;
  }

  [data-title="Checkbox"] {
    width: 30%;
  }

  [data-title="Button+Label"] {
    width: 40%;
  }

  [data-title="Icon"] {
    width: calc(100% / 3);
  }

  [data-title="Entry"] {
    width: calc(100% / 3);
  }

  [data-title="Image+Select"] {
    width: calc(100% / 3);
  }

  [data-title="Progress"] {
    width: 50%;
  }

  [data-title="Slider"] {
    width: 50%;
  }

  [data-title="Tabs+Dialog"] {
    width: 60%;
  }

  [data-title="Collapsible+Activatable"] {
    width: 40%;
  }

  [data-title="List"] {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100% !important;

    [data-title] {
      width: 100% !important;
      flex-direction: column;
    }

    [data-title="List"] {
      > .view.card {
        flex-direction: column !important;
      }
    }
  }
}
