.page.home {
  flex-direction: column;
  align-items: center;
  display: flex;

  padding-bottom: 10rem;

  .page-heading {
    min-height: 30rem;
    overflow: hidden;
    padding: 5rem 0;
    width: 100%;

    > .mie.header {
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 768px) {
      padding: 0 1.2rem;
    }

    .docs-code {
      border-radius: 1.2rem;
      max-width: 50rem;
      min-width: 20rem;
      min-height: 10rem;
    }
  }
}

.headerbar.homepage {
  position: absolute !important;
}
